<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://storage.googleapis.com/matisse/style/bootstrap.min.css">
    <link rel="stylesheet" href="/todo.css">
    <script src="https://storage.googleapis.com/matisse/style/jquery-3.2.1.slim.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/popper.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/bootstrap.min.js"></script>
    <title>Archive List</title>
</head>
<body class="background">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">



    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Todo list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="archive">Archive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="add">Change or add a list</a>
        </li>
    </ul>
</nav>

<!--archived list-->
<div class="container">
    <h1 class="text-center display-4">Archive from <%= tableToUse%></h1>
    <div class="row moremargin">
        <div class="col align-self-center">
            <form action="/archivepost" method="POST">
                <div class="checkbox">
                    <% for(var i = 0; i < archivedList.length; i++) {%>
                    <div class="checkbox">
                        <a href="#"  data-toggle="popover" data-trigger="hover" data-html="true" title="Information" data-content="Date added: <%= dateAddedArchive[i]%><br /> Date finished: <%= dateFinishedArchive[i]%><br /> Date archived: <%= dateArchived[i]%><br /><%= descriptionListArchive[i] %>">
                        <label><input type="checkbox" name="archive" value='<%= archivedList[i] %>'><%= archivedList[i] %></label>
                        </a>
                    </div>
                    <% } %>
                </div>

                <button type="submit" value="done" name="archiveButton" class="btn btn-default topmargin">Mark selected items as done</button>
                <button type="submit" value="edit" name="archiveButton" class="btn btn-default topmargin">Change description</button>
                <button type="submit" value="delete" name="archiveButton" class="btn btn-danger topmargin">Delete selected items</button>

            </form>
        </div>
    </div>
</div>



<!--Enable popover-->
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

</body>
</html>