<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://storage.googleapis.com/matisse/style/bootstrap.min.css">
    <link rel="stylesheet" href="/todo.css">
    <script src="https://storage.googleapis.com/matisse/style/jquery-3.2.1.slim.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/popper.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>
<body class="background">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/#">
        <img src="https://storage.googleapis.com/matisse/afbeeldingen/250px-Flag_of_Sint_Maarten.svg.png" alt="Logo" style="width:40px;">
    </a>


    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="todo">TODO list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="archive">TODO Archief</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="add">Change or add a list</a>
        </li>
    </ul>

</nav>

<h1 class="text-center"><%= tableToUse %></h1><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Todo's</h1>

            <!--input form-->

            <form action="/newtodo" name="formLeft" method="POST">
                <div class="form-group">
                    <label for="ToDo">Add a TODO:</label>
                    <input type="text" class="form-control" id="todo" name="item" required>
                </div>
                <div class="form-group">
                    <label for="ToDoDescription">Add a description:</label>
                    <textarea type="text" class="form-control" id="todoDescription" name="description" required></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            <!--todo no breaks-->
            </form><br><br>

            <!--list of the items-->
            <form action="/finish" method="POST">
                <% for(var i = 0; i < todoList.length; i++) {%>
                <div class="checkbox">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" title="Description" data-content="Date added: <%= dateAddedDone[i]%><br /> <%= descriptionListToDo[i]%>">
                    <label><input type="checkbox" name="todo"  value='<%= todoList[i] %>'><%= todoList[i] %></label>
                    </a>
                </div>
                <% } %>
                <button type="submit" value="done" name="todoButton" class="btn btn-default">Mark selected items as done</button>
                <button type="submit" value="edit" name="todoButton" class="btn btn-default">Change description</button>
                <!--<button type="submit" value="archive" name="todoButton" class="btn btn-default">Archive selected item</button>-->
                <button type="submit" value="delete" name="todoButton" class="btn btn-danger">Delete selected items</button>

            </form>

        </div>
        <!--list that shows finished todos-->
        <div class="col-md-6">
            <h1 class="text-center">Finished</h1>
            <form action="/finish" method="POST">
                <% for(var i = 0; i < finishedList.length; i++) {%>
                <div class="checkbox">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" title="Description" data-content="Date added: <%= dateAddedFinished[i]%><br /> Date finished:  <%= dateFinished[i]%> <br /> <%= descriptionListFinished[i]%>">
                    <label><input type="checkbox" value='<%= finishedList[i] %>' name="todoRight"><%= finishedList[i]%></label>
                    </a>
                </div>
                <% } %>
                <button type="submit" value="undo" name="finishedButton" class="btn btn-default">Undo selected items</button>
                <button type="submit" value="archive" name="finishedButton" class="btn btn-default">Archive selected item</button>
                <button type="submit" value="delete" name="finishedButton" class="btn btn-danger">Delete selected items</button>

            </form>
        </div>
    </div>
</div>



<!--enable popover-->
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>


</body>
</html>